<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Workout List </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleTrashMode()">
        <ion-icon
          style="cursor: pointer"
          slot="icon-only"
          name="trash-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="addWorkout()">
      <ion-label>
        <ion-icon name="add-outline"></ion-icon> Add Workout
      </ion-label>
    </ion-item>

    <ion-item
      *ngFor="let workout of workoutList$ | async"
      (click)="editWorkout(workout.id)"
    >
      <ion-label>{{ workout.name }}</ion-label>
      <ion-icon
        *ngIf="showTrashIcons"
        (click)="deleteWorkout(workout); $event.stopPropagation()"
        slot="end"
        style="color: red; cursor: pointer"
        name="trash-outline"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
