<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Exercise List </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleTrashMode()">
        <ion-icon
          style="cursor: pointer"
          slot="icon-only"
          name="trash-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="addExercise()">
      <ion-label>
        <ion-icon name="add-outline"></ion-icon> Add Exercise
      </ion-label>
    </ion-item>

    <ion-item
      *ngFor="let exercise of exerciseList$ | async"
      (click)="editExercise(exercise.id)"
    >
      <ion-label> {{ exercise.name }} </ion-label>
      <ng-container [ngSwitch]="exercise.type">
        <ng-container *ngSwitchCase="'time'">
          {{exercise.seconds}} Seconds
        </ng-container>
        <ng-container *ngSwitchCase="'distance'">
          {{exercise.distance}} Meters
        </ng-container>
        <ng-container *ngSwitchCase="'calories'">
          {{exercise.calories}} Kcal
        </ng-container>
        <ng-container *ngSwitchCase="'repetions'">
          {{exercise.sets}} x {{exercise.reps}} x {{exercise.weight}}kg
        </ng-container>
      </ng-container>

      <ion-icon
        *ngIf="showTrashIcons"
        slot="end"
        (click)="deleteExercise(exercise); $event.stopPropagation()"
        style="color: red; cursor: pointer"
        name="trash-outline"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
