<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Workout name</ion-label>
    <ion-input [formControl]="workoutNameControl"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Exercise</ion-label>
    <ion-select
      [formControl]="exerciseControl"
      (ionChange)="addExercise($event)"
      placeholder="Add Exercise"
    >
      <ion-select-option
        *ngFor="let exercise of exerciseList$ | async"
        [value]="exercise.id"
        >{{exercise.name}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item *ngFor="let exercise of localExerciseList | async">
    <ion-label> {{exercise.name}} </ion-label>
    <ng-container [ngSwitch]="exercise.type">
      <ng-container *ngSwitchCase="'time'">
        {{exercise.seconds}} Seconds
      </ng-container>
      <ng-container *ngSwitchCase="'distance'">
        {{exercise.distance}} Meters
      </ng-container>
      <ng-container *ngSwitchCase="'calories'">
        {{exercise.calories}} Kcal
      </ng-container>
      <ng-container *ngSwitchCase="'repetions'">
        {{exercise.sets}} x {{exercise.reps}} x {{exercise.weight}}kg
      </ng-container>
    </ng-container>
    <ion-icon
      slot="end"
      (click)="deleteExercise(exercise); $event.stopPropagation()"
      style="color: red; cursor: pointer"
      name="trash-outline"
    ></ion-icon>
  </ion-item>
  <ion-button expand="block" (click)="addWorkout()"> Submit workout</ion-button>
</ion-content>
