<ng-container *ngIf="workout$ | async as workout">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>{{ workout.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="push text-center" style="font-size: 80px">
      {{ workoutService.timer$ | async | clock }}
    </div>
    <ion-button expand="full" (click)="startExercise()">
      Start exercise
    </ion-button>
    <ion-button expand="full" (click)="nextExercise()">
      Next exercise
    </ion-button>
    <ion-list>
      <ng-container *ngFor="let exercise of workout.exercises; let i = index">
        <ion-item
          *ngIf="workoutService.currentExercise <= i"
          [ngClass]="{ 'active_exercise' : workoutService.currentExercise === i}"
        >
          <ion-label> {{ exercise.name }} </ion-label>

          <ng-container [ngSwitch]="exercise.type">
            <ng-container *ngSwitchCase="'time'">
              {{exercise.seconds}} Seconds
            </ng-container>
            <ng-container *ngSwitchCase="'distance'">
              {{exercise.distance}} Meters
            </ng-container>
            <ng-container *ngSwitchCase="'calories'">
              {{exercise.calories}} Kcal
            </ng-container>
            <ng-container *ngSwitchCase="'repetions'">
              {{exercise.sets}} x {{exercise.reps}} x {{exercise.weight}}kg
            </ng-container>
          </ng-container></ion-item
        >
      </ng-container>
    </ion-list>
  </ion-content>
</ng-container>
